<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper z-depth-4 blue lighten-2">
            <a href="#!" class="brand-logo">Mongo Scraper</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
                <li><a class="waves-effect waves-light btn scrape">Scrape New Articles</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/saved">Saved Articles</a></li>
    <li class="scrape"><a>Scrape New Articles</a></li>
</ul>

<div class="row">
    <div class="col m12 banner">
        <img id="bannerImg" src="assets/images/news-banner.jpg">
        <div class="title center-align">
            <h1>Mongo Scraper</h1>
            <h3>The Onion Edition</h3>
        </div>
    </div>
</div>

<div class="container">
    {{#each article}}
        {{> articles}}
    {{/each}}

</div>