<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper z-depth-4 blue lighten-2">
            <a href="#!" class="brand-logo">Mongo Scraper</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
                <li><a class="waves-effect waves-light btn scrape">Scrape New Articles</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/saved">Saved Articles</a></li>
    <li><a href="/scrape">Scrape New Articles</a></li>
</ul>


<div class="container">
    <h2>Saved Articles</h2>
    {{#each article}}
        {{> articles}}
    {{/each}}

</div>